* {
  padding: 0;
  margin: 0;
  font-size: 8px;
}
body {
  background-color: hsl(47, 88%, 63%);
}

main {
  display: flex;
  width: 100vw;
  height: 100vh;
  align-items: center;
  justify-content: center;
}
.card {
  background-color: white;
  width: 33vw;
  height: 50vh;
  padding: 20px;
  border-radius: 20px;
  outline-color: black;
  outline: 1px solid black;
  flex-direction: column;
}

img {
  width: 100%;
  border-radius: 20px;
  margin-bottom: 10px;
}
.tag {
  font-size: 18px;
  font-weight: 800;
  padding: 10px;
  background-color: hsl(47, 88%, 63%);
  border-radius: 10px;
  display: inline-block;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
